<div class="business-book">
    <div class="title">
        <h2>Book Now</h2>
    </div>
    <div class="business-form">
        <form (ngSubmit)="sendBusinessForm()" [formGroup]="businessBookForm">
            <div class="left-n-right">
                <div class="left">
                    <mat-form-field appearance="fill">
                        <mat-label>Company Name</mat-label>
                        <input formControlName="company_name"
                               matInput
                               placeholder="Company Name" />
                        <mat-error *ngIf="businessBookForm.errors?.required || businessBookForm.get('company_name')?.invalid">
                            Not Valid
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input formControlName="email"
                               matInput
                               placeholder="example@gmail.com"
                               required />
                        <mat-error *ngIf="businessBookForm.errors?.required || businessBookForm.get('email')?.invalid">
                            Not Valid
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="right">
                    <mat-form-field appearance="fill">
                        <mat-label>Contact Person</mat-label>
                        <input formControlName="name"
                               matInput
                               placeholder="Contact Person"
                               required />
                        <mat-error *ngIf="businessBookForm.errors?.required || businessBookForm.get('name')?.invalid">
                            Not Valid
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Phone Number</mat-label>
                        <input formControlName="phone"
                               matInput
                               maxlength="10"
                               placeholder="000 000 0000"
                               required />
                        <mat-error *ngIf="businessBookForm.errors?.required || businessBookForm.get('phone')?.invalid">
                            Not Valid
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field appearance="fill" style="width:100%">
                <mat-label>Full Address</mat-label>
                <input formControlName="address"
                       matInput
                       placeholder="8 Jackson Ave, Los Angeles 08765"
                       required />
                <mat-error *ngIf="businessBookForm.errors?.required || businessBookForm.get('address')?.invalid">
                    Not Valid
                </mat-error>
            </mat-form-field>

            <div class="left-n-right">
                <div class="left">
                    <mat-form-field appearance="fill">
                        <mat-label>Zip Code</mat-label>
                        <input (keyup)="checkZipCode($event)"
                               formControlName="zip_code"
                               matInput
                               maxlength="5"
                               placeholder="00000"
                               required />
                        <span *ngIf="businessBookForm.get('zip_code')?.valid">
                            {{ zipObj }}
                        </span>
                        <mat-error *ngIf="businessBookForm.errors?.required || businessBookForm.get('zip_code')?.invalid">
                            Not Valid
                        </mat-error>
                        <div *ngIf="errorFlag" style="color:red">
                            Not Valid (Please Call Us)
                        </div>
                    </mat-form-field>
                </div>

                <div class="right">
                    <mat-form-field appearance="fill">
                        <mat-label>Sq.Ft</mat-label>
                        <mat-select formControlName="approx_SF" required>
                            <mat-option [value]="item.title"
                                        *ngFor="let item of quickBook.approx_SF.items">
                                {{ item.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="businessBookForm.errors?.required || businessBookForm.get('approx_SF')?.invalid">
                            Please Choose Value
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="business-book-btn">
                <button [disabled]="businessBookForm.invalid"
                        mat-button
                        type="submit">
                    Book Appointment
                </button>
            </div>
        </form>
    </div>
</div>
