<footer>
    <div class="container">
        <div class="row">
            <div class="col footer-navigation footer-list">
                <h6>Navigation</h6>
                <ul class="navbar-nav bottom-header-list d-flex justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/main']" routerLinkActive="router-link-active">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/services']"
                            routerLinkActive="router-link-active">
                            Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/pricing']"
                            routerLinkActive="router-link-active">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="router-link-active">Contact
                            Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/faq']" routerLinkActive="router-link-active">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/booking']" routerLinkActive="router-link-active">Book
                            Now</a>
                    </li>
                </ul>
            </div>
            <div class="col footer-services footer-list">
                <h6>Services</h6>
            </div>
            <div class="col footer-working-hours footer-list">
                <h6>Working Hours</h6>
            </div>
            <div class="col footer-social-media footer-list">
                <h6>Social Media</h6>
            </div>
        </div>
    </div>
</footer>