<app-header></app-header>
<div class="pricing-wrapper">
    <div class="big-top-img-section">
        <div class="img">
            <img src="../../../assets/images/pricing/main-pricing.png" alt="">
        </div>
        <div class="title">
            <h1>Crystal System Services Price</h1>
            <p>
                We offer simple flat/ house pricing based on the size of the home and the number of bedrooms.
            </p>
        </div>
    </div>
    <div class="price-cards">
        <div class="container">
            <div class="child-service-info">
                <p>
                    <span>All flat/ house rate pricing includes your bedroom(s), one (1) bathroom, kitchen, and common areas. Each additional  </span>
                    <span>bathroom is $30. We offer our hourly package for any Custom Jobs, Large Apartments/Homes, and Offices. </span>
                    <span>No surprises! If you need a custom office cleaning you can get an office cleaning quote <a routerLink="/services/office-cleaning">here</a>.</span>
                </p>
            </div>
            <!-- <app-office-form></app-office-form> -->
            <div class="row">
                <mat-card routerLink="/booking" class="example-card col-4 col-md-4 col-lg-4"
                    *ngFor="let card of priceCard.items">
                    <mat-card-header>
                        <mat-card-title>{{ card.type }}</mat-card-title>
                        <mat-card-subtitle>{{ card.price  }}</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                        <p class="card-info">{{ card.frequency1 }}</p>
                        <p class="card-info">{{ card.frequency2 }}</p>
                        <p class="card-info">{{ card.frequency3 }}</p>
                        <p class="card-info">{{ card.frequency4 }}</p>
                        <p class="card-info">{{ card.rec_time }}</p>
                        <p class="card-info"><span>{{ card.extraService1 | slice:0:12 }}</span><span>{{ card.extraService1 | slice:14:17 }}</span></p>
                        <p class="card-info"><span>{{ card.extraService2 | slice:0:4 }}</span><span>{{ card.extraService2 | slice:6:9 }}</span></p>
                        <p class="card-info"><span>{{ card.extraService3 | slice:0:14 }}</span><span>{{ card.extraService3 | slice:17:20 }}</span></p>
                        <p class="card-info"><span>{{ card.extraService4 | slice:0:13 }}</span><span>{{ card.extraService4 | slice:16:20 }}</span></p>
                        <p class="card-info"><span>{{ card.extraService5 | slice:0:15 }}</span><span>{{ card.extraService5 | slice:17:20 }}</span></p>
                        <p class="card-info">{{ card.cleaners }}</p>
                        <p class="card-info">{{ card.cleaners2 }}</p>
                        <p class="card-info">{{ card.recommended_time }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Book</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>