<app-header></app-header>
<div class="child-service-wrapper">
    <div class="big-top-img-section">
        <div class="img">
            <img src="../../../../assets/images/services/service-page/post__.png"
                alt="construction_service">
        </div>
        <div class="title">
            <h1>Post Construction Cleaning services</h1>
            <p>We set the highest cleaning standard in service and customer satisfaction</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <section id="reviews">
                    <div class="container">
                        <div class="title">
                            <h2>Our Reviews</h2>
                        </div>
                        <div class="slider">
                            <div class="slide" *ngFor="let review of myReviewsArr">
                                <div>
                                    <!-- {{ myReviewsArr | json }} -->
                                    <strong>{{ review.grade }}</strong>
                                    <p>{{ review.message }}</p>
                                </div>
                                <div class="user-mark">
                                    <div class="date">
                                        {{ review.created | date: 'MM/dd/yyyy' }}
                                    </div>
                                    <div class="name">
                                        &nbsp;{{ review.name | uppercase }}
                                    </div>
                                    <div class="rating" [style.width.px]=" review.stars * 18.4 ">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <!-- {{ review.stars }} -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-6">
                <app-business-form></app-business-form>
            </div>
        </div>
        <div class="build-it">
            <div class="title">
                <h2>
                    YOU BUILD IT <br>
                    AND <br>
                    WE CLEAN IT
                </h2>
            </div>
            <div class="build-it-img">
                <img src="../.././../../assets/images/services/build-it-1.jpg" alt="">
            </div>
        </div>
        <div class="child-service-info">
            <p>
                You can trust post construction cleaning to professional cleaners. We offer cleaning services both
                during and after construction. We can clean different types of premises: All commercial premises and All residential Premises( 
                <span>    
                    <span>Private houses</span>,&nbsp;<span>Apartments</span>,&nbsp;<span>Offices</span>,&nbsp;
                    <span>Buildings</span>,&nbsp;<span>Warehouses</span> 
                    )&nbsp;
                    Contractors and homeowners around and 
                </span> throughout New York City
                rely on Crystal System Cleaning services
                to make the contractors <br>
                project spotless.
            </p>
        </div>
        <div class="book-btn">
            <a mat-button [routerLink]="['/booking']">Book Appointment</a>
        </div>
    </div>
    <app-our-services-part></app-our-services-part>
</div>
<app-footer></app-footer>