<div id="top"></div>
<app-header></app-header>
<div class="child-service-wrapper">
    <div class="big-top-img-section">
        <div class="img">
            <img src="../../../../assets/images/services/service-page/move-cleaning__.png" alt="">
        </div>
        <div class="title">
            <h1>Move Cleaning Services</h1>
            <p>We are here to help you with cleaning before or after moving</p>
        </div>
    </div>
    <div class="container">
        <div class="child-service-info">
            <p>
                <span>The last thing you want to worry about is having to clean your place after or before
                    moving.</span><br>
                <span>We provide thorough cleaning services that will allow you to focus on your
                    responsibilities.</span><br>
                <span>Our trained cleaning professionals will leave no corner of your home or <br> apartment
                    untouched.</span>
            </p>
        </div>
        <div class="quick-book">
            <app-quick-book></app-quick-book>
        </div>
        <div class="service-checklist">
            <div class="title">
                <h2>Crystal System Cleaning Checklist</h2>
                <p>
                    From top to bottom, room to room. We clean it all. See what our standard cleaning services include,
                    or you can add on any extras!
                </p>
            </div>
            <div class="row d-flex checkbox-card">
                <mat-card class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <mat-card-header>
                        <mat-card-title class="checkbox-group-name">Bathroom</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            <span class="checkbox-list" *ngFor="let item of servicesCheckbox.bathroom.items"><i
                                    class="fas fa-check check-icon"></i>{{ item.title }}</span>
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <mat-card-header>
                        <mat-card-title class="checkbox-group-name">Kitchen</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            <span class="checkbox-list" *ngFor="let item of servicesCheckbox.kitchen.items"><i
                                    class="fas fa-check check-icon"></i>{{ item.title }}</span>
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <mat-card-header>
                        <mat-card-title class="checkbox-group-name">Bedrooms</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            <span class="checkbox-list" *ngFor="let item of servicesCheckbox.bedrooms.items"><i
                                    class="fas fa-check check-icon"></i>{{ item.title }}</span>
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <mat-card-header>
                        <mat-card-title class="checkbox-group-name">
                            Living Room / <br>
                            Dining Room <br>
                            Hallways / Foyers / Stairwell
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            <span class="checkbox-list" *ngFor="let item of servicesCheckbox.living.items"><i
                                    class="fas fa-check check-icon"></i>{{ item.title }}</span>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="free-extra-checklist row">
                    <mat-card class="col-12 col-md-6 col-lg-6 free-extra-checklist-text">
                        <mat-card-header>
                            <mat-card-title class="free-checkbox-group-name">Extra Services Included By Free</mat-card-title>
                            <p>
                                <span class="checkbox-list" *ngFor="let item of freeExtraServices">
                                    <i class="checkbox-name">
                                        <span class="item-name">{{ item.title }}</span>
                                        <span class="item-icon">
                                            <i class="fas fa-check check-icon"></i>
                                        </span>
                                    </i>
    
                                </span>
                            </p>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="free-extra-checklist-photo d-none d-sm-none">
                            <img src="../../../../assets/images/services/service-page/move-cleaning__1.jpg" alt="">
                        </div>
                    </div>
                </div>
            <div class="extra-checklist row">
                <div class="col-12 col-md-6">
                    <div class="extra-checklist-photo d-none d-sm-none">
                        <img src="../../../../assets/images/services/service-page/move-cleaning__.jpg" alt="">
                    </div>
                </div>
                <mat-card class="col-12 col-md-6 extra-checklist-text">
                    <mat-card-header>
                        <mat-card-title class="checkbox-group-name">Extra Services </mat-card-title>
                        <p>
                            <span class="checkbox-list" *ngFor="let item of extraServices">
                                <i class="checkbox-name">
                                    <span class="item-name">{{ item.title }}</span>
                                    <span class="item-price">{{ item.price }}</span>
                                </i>

                            </span>
                        </p>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </div>


        </div>
        <div class="book-btn">
            <a mat-button [routerLink]="['/booking']">Book Appointment</a>
        </div>
    </div>
    <app-our-services-part></app-our-services-part>

</div>
<app-footer></app-footer>