<app-header></app-header>
<div class="container">
    <div class="logo">
        <div class="container">
            <h1>Welcome to Admin Panel</h1>
            <img src="../../../assets/images/Logo_1_.png" alt="logo">
        </div>
    </div>
    <div class="calendar">
        <div class="container">
            <h2>My Schedule Calendar</h2>
            <iframe
                src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=dG9ueWpvc3MxOTkwQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=dWsudWtyYWluaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237986CB&amp;color=%2333B679&amp;color=%230B8043"
                style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
    <div class="table-wrapper">
        <h2>Customers Contact Lists</h2>
        <div class="container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Search by First Name" aria-label="Username"
                    aria-describedby="basic-addon1" (keyup)="updateSearch($event)">
            </div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">ZIP</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Added</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let booking of bookings.booking; let i = index"> -->
                    <!-- <tr *ngFor="let booking of filteredProduct | paginate: config; let i = index "> -->
                    <tr
                        *ngFor="let booking of filteredProduct | paginate: { itemsPerPage: 8, currentPage: p }; let i = index ">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.last_name }}</td>
                        <td>{{ booking.address }}</td>
                        <td>{{ booking.city }}</td>
                        <td>{{ booking.state }}</td>
                        <td>{{ booking.zip_code }}</td>
                        <td>{{ booking.email }}</td>
                        <td>{{ booking.phone }}</td>
                        <td>{{ booking.created | date: 'MM/dd/yyyy' }}</td>
                    </tr>
                </tbody>
            </table>
            <button mat-raised-button color="primary" (click)="saveAllEmails()">Save Emails</button>
            <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
            <div class="my-pagination">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
    
        </div>
    </div>
    <div class="log-out">
        <button mat-raised-button color="accent" (click)="logOut()">Log Out</button>
    </div>
</div>

<app-footer></app-footer>
<!-- <div class="content" role="main">
        <div class="card">
          <div class="form-group">
            <label for="search-text">Search Text</label>
            <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
              [(ngModel)]="searchText" placeholder="Enter text to search" 
              autofocus>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let c of characters | appFilter: searchText">
              {{c}}
            </li>
          </ul>
        </div>
      </div> -->