<app-header></app-header>
<div class="child-service-wrapper">
        <div class="big-top-img-section">
            <div class="img">
                <img src="../../../../assets/images/services/service-page/deep-cleaning .jpg" alt="">
            </div>
            <div class="title">
                <h1>Regular Cleaning Services</h1>
                <p>The easy, reliable way to take care of your home</p>
            </div>
        </div>
        <div class="container">
    
            <div class="quick-book">
    
            </div>
        </div>
    
    </div>
<app-footer></app-footer>