@import '../../styles/colors'; // imported colors
@import '../../styles/fonts'; // imported colors



// MAIN SECTION ***

// BOOKING
#booking {
    position: relative;
}
.booking-wrapper {
    //position: relative;
    .booking-img {
        img {
            width: 100%;
        }
    }
}

.stepper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid @blueColor;
}


// Services

@h1_padding: 50px;

#services {
    .title {
        text-align: center;
        padding: @h1_padding;
        h1 {
            .h1();
            color: @blackColor;
        }
        p {
            .ffbasic();
        }
    }
}