<div class="main-wrapper">
    <app-header></app-header>
    <main>
        <section id="booking">
            <div class="booking-wrapper">
                <div class="booking-img">
                    <img src="../../../assets/images/108530803-960x290.jpg" alt="booking">
                </div>
            </div>


            <div class="stepper">

                <!-- 1 -->
                <!-- <mat-horizontal-stepper linear #stepper>
                    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Fill out your name</ng-template>

                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
                            </mat-form-field>

                            <div>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Fill out your address</ng-template>
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p>You are now done.</p>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button (click)="stepper.reset()">Reset</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper> -->


                <!-- 2 -->
                <!-- <mat-horizontal-stepper #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Fill out your name</ng-template>
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Fill out your address</ng-template>
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p>You are now done.</p>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button (click)="stepper.reset()">Reset</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper> -->


                <!-- 3 -->
                <mat-horizontal-stepper #stepperDOM>

                    <!-- ********************************************** STEP ********************************************** -->
                    <mat-step state="phone">

                        <ng-template matStepLabel>
                            <h2 class="step-title-big">Appointment Details</h2>
                            <h3 class="step-title-small">Please Fill Information</h3>
                        </ng-template>

                        <h1 class="step-title">SERVICES DETAILS</h1>


                        <form [formGroup]="step_1">
                            <div class="boxes">
                                <div class="big-box big-box-left">
                                    <div class="inner-box inner-box-left">
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Property type</mat-label>
                                                <mat-select>
                                                    <mat-option *ngFor="let item of stepper.property_type.items" [value]="item.title">{{item.title}}</mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>

                                        <div class="input">

                                            <mat-form-field appearance="fill">
                                                <mat-label>Frequency</mat-label>
                                                <mat-select>
                                                    <mat-option *ngFor="let item of stepper.frequency.items" [value]="item.title">{{item.title}}</mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="inner-box inner-box-right">
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Approx SF</mat-label>
                                                <mat-select formControlName="xxx">
                                                    <mat-option *ngFor="let item of stepper.frequency.items" [value]="item.title">{{item.title}}</mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                        <div class="input">

                                            <mat-form-field>
                                                <mat-label>ZIP code</mat-label>
                                                <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
                                            </mat-form-field>

                                            <!-- <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                                                <mat-label>Enter some input</mat-label>
                                                <input matInput #input maxlength="10" placeholder="Ex. Nougat">
                                                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                                            </mat-form-field> -->

                                        </div>
                                    </div>
                                    <div class="input">
                                        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                                            <mat-label>Email address</mat-label>
                                            <input matInput #input maxlength="10" placeholder="Ex. Nougat">
                                            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="big-box big-box-right">
                                    <div class="inner-box inner-box-left">
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Bedrooms</mat-label>
                                                <mat-select>
                                                    <mat-option *ngFor="let item of stepper.property_type.items" [value]="item.title">{{item.title}}</mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                        <div class="input">
                                            <mat-form-field color="accent" appearance="fill">
                                                <mat-label>Select date (M/D/Y)</mat-label>
                                                <input matInput [matDatepicker]="picker2" formControlName="date">
                                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="inner-box inner-box-right">
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Bathrooms</mat-label>
                                                <mat-select>
                                                    <mat-option *ngFor="let item of stepper.frequency.items" [value]="item.title">{{item.title}}</mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Select times</mat-label>
                                                <mat-select>
                                                    <mat-option *ngFor="let item of stepper.frequency.items" [value]="item.title">{{item.title}}</mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="input">
                                        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                                            <mat-label>Phone number</mat-label>
                                            <input matInput #input maxlength="10" placeholder="Ex. Nougat">
                                            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <!-- <button mat-button (click)="goBack(stepperDOM)" type="button">Back</button> -->
                                <button mat-button (click)="next1(stepperDOM)" type="button">Next</button>
                                <!-- <button mat-button matStepperNext>Next</button> -->
                                <!-- <button mat-button matStepperNext>Next</button> -->
                                <!-- <button mat-button (click)="stepperDOM.reset()">Reset</button> -->
                                <button mat-button (click)="fill(stepperDOM)">Fill</button>
                            </div>

                        </form>





                    </mat-step>

                    <!-- ********************************************** STEP ********************************************** -->
                    <mat-step state="chat">
                        <ng-template matStepLabel>
                            <h2 class="step-title-big">Plan & Pricing</h2>
                            <h3 class="step-title-small">Choose Services Plan</h3>
                        </ng-template>

                        <h1 class="step-title">ECONOMY CLEANING</h1>
                        <p>Socialize with each other.</p>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>

                    <!-- ********************************************** STEP ********************************************** -->
                    <mat-step>
                        <ng-template matStepLabel>
                            <h2 class="step-title-big">Address</h2>
                            <h3 class="step-title-small">Please Enter Address Detail</h3>
                        </ng-template>
                        <h1 class="step-title">PAYMENT</h1>
                        <p>You're welcome.</p>
                    </mat-step>

                    <!-- ********************************************** STEP ********************************************** -->
                    <mat-step>
                        <ng-template matStepLabel>
                            <h2 class="step-title-big">Payment</h2>
                            <h3 class="step-title-small">Please Enter Payment Detail</h3>
                        </ng-template>
                        <h1 class="step-title">PAYMENT</h1>
                        <p>You're welcome.</p>
                    </mat-step>


                    <!-- ********************************************** Icon overrides. ********************************************** -->

                    <ng-template matStepperIcon="phone">
                        <mat-icon>call_end</mat-icon>
                    </ng-template>

                    <ng-template matStepperIcon="chat">
                        <mat-icon>forum</mat-icon>
                    </ng-template>

                </mat-horizontal-stepper>

            </div>


        </section>


        <section id="services">
            <div class="container">
                <div class="title">
                    <h1>Crystal Cleaning Services</h1>
                    <p>Cleaning Services Types that we provide in New York Area</p>
                </div>
                <!-- <div class="cleaning-types">
                    <div class="d-flex justify-content-around row">
                    </div>
                </div> -->
            </div>
        </section>

    </main>
    <app-footer></app-footer>
</div>