@import '../../styles/colors'; // imported colors
@import '../../styles/fonts'; // imported colors



// MAIN SECTION ***

// BOOKING
#booking {
  position: relative;
}

.booking-wrapper {

  //position: relative;
  .booking-img {
    img {
      width: 100%;
    }
  }
}

.stepper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid @blueColor;
  z-index: 99;

  .mat-stepper-horizontal {
    /* can reverse */
    // display: flex;
    // flex-direction: column-reverse;
  }

  .step-title {
    text-align: center;
  }

  .step-title-big {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .step-title-small {
    padding: 0;
    margin: 0;
    text-align: center;
  }

}



// Services

@h1_padding: 50px;

#services {
  .title {
    text-align: center;
    padding: @h1_padding;

    h1 {
      .h1();
      color: @blackColor;
    }

    p {
      .ffbasic();
    }
  }
}
