<div class="main-wrapper">
    <app-header></app-header>
    <main>
        <section id="booking">
            <div class="booking-wrapper">
                <div class="booking-img">
                    <img alt="booking"
                         src="../../../assets/images/book-main.jpg" />
                </div>
            </div>

            <div class="stepper">
                <!-- 3 -->
                <mat-horizontal-stepper #stepperDOM>
                    <form [formGroup]="form">
                        <!-- ********************************************** STEP 1 ********************************************** -->
                        <mat-step state="phone">
                            <ng-template matStepLabel>
                                <h2 class="step-title-big">
                                    Appointment Details
                                </h2>
                                <h3 class="step-title-small">
                                    Please Fill Information
                                </h3>
                            </ng-template>
                            <br />

                            <div class="booking-links">
                                <ul>
                                    <li (click)="cheakFormGroup('residential')"
                                        [class]="(checkedGroup == 'residential') ? 'active' : '' ">
                                        <a [routerLink]="['/booking']"
                                           class="d-flex">
                                            <i class="fas fa-house-user"></i>&nbsp;Residential
                                        </a>
                                    </li>
                                    <li (click)="cheakFormGroup('office')"
                                        [class]="(checkedGroup == 'office') ? 'active' : '' ">
                                        <a [routerLink]="['/booking']"
                                           class="d-flex">
                                            <i class="far fa-building"></i>&nbsp;Office
                                        </a>
                                    </li>
                                    <li (click)="cheakFormGroup('commercial')"
                                        [class]="(checkedGroup == 'commercial') ? 'active' : '' ">
                                        <a [routerLink]="['/booking']"
                                           class="d-flex">
                                            <i class="fas fa-warehouse"></i>&nbsp;Commercial
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <h1 class="step-title">SERVICES DETAILS</h1>
                            <br />

                            <!-- residential -->
                            <div *ngIf="checkedGroup == 'residential'"
                                 class="boxes">
                                <div class="big-box big-box-left">
                                    <div class="inner-box inner-box-left">
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>
                                                    Property type
                                                </mat-label>
                                                <mat-select formControlName="property_type">
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.property_type.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Frequency</mat-label>
                                                <mat-select [ngModel]="frequency"
                                                            formControlName="frequency">
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.frequency.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="inner-box inner-box-right">
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>sq.ft</mat-label>
                                                <mat-select formControlName="sq_ft">
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.sq_ft.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                        <div class="input"
                                             style="margin-top: .77rem;">
                                            <mat-form-field>
                                                <mat-label>ZIP code</mat-label>
                                                <input formControlName="zip_code"
                                                       matInput
                                                       placeholder="000000"
                                                       required />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="input">
                                        <mat-form-field appearance="fill"
                                                        hintLabel="Max 10 characters">
                                            <mat-label>Email address</mat-label>
                                            <input #input
                                                   formControlName="email"
                                                   matInput
                                                   placeholder="some@gmail.com" />
                                            <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="big-box big-box-right">
                                    <div class="inner-box inner-box-left">
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Bedrooms</mat-label>
                                                <mat-select formControlName="bedrooms">
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.bedrooms.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                        <div class="input">
                                            <mat-form-field appearance="fill"
                                                            color="accent">
                                                <mat-label>
                                                    Select date (M/D/Y)
                                                </mat-label>
                                                <input [matDatepicker]="picker2"
                                                       formControlName="date"
                                                       matInput />
                                                <mat-datepicker-toggle [for]="picker2"
                                                                       matSuffix>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker2
                                                                color="primary">
                                                </mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="inner-box inner-box-right">
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Bathrooms</mat-label>
                                                <mat-select formControlName="bathrooms">
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.bathrooms.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>
                                                    Select times
                                                </mat-label>
                                                <mat-select formControlName="select_times">
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.select_times.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="input">
                                        <mat-form-field appearance="fill"
                                                        hintLabel="Max 10 characters">
                                            <mat-label>Phone number</mat-label>
                                            <input #input
                                                   formControlName="phone"
                                                   matInput
                                                   placeholder="+100000000" />
                                            <mat-hint align="end">
                                                {{input.value?.length || 0}}/10
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!-- office -->
                            <div *ngIf="checkedGroup == 'office'" class="boxes">
                                <div class="big-box big-box-left">
                                    <div class="input">
                                        <mat-form-field appearance="fill"
                                                        hintLabel="Max 10 characters">
                                            <mat-label>Phone number</mat-label>
                                            <input #input
                                                   formControlName="phone"
                                                   matInput
                                                   placeholder="+100000000" />
                                            <mat-hint align="end">
                                                {{input.value?.length || 0}}/10
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="input">
                                        <mat-form-field appearance="fill"
                                                        hintLabel="Max 10 characters">
                                            <mat-label>Phone number</mat-label>
                                            <input #input
                                                   formControlName="phone"
                                                   matInput
                                                   placeholder="+100000000" />
                                            <mat-hint align="end">
                                                {{input.value?.length || 0}}/10
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="input"
                                         style="margin-top: .77rem;">
                                        <mat-form-field>
                                            <mat-label>ZIP code</mat-label>
                                            <input formControlName="zip_code"
                                                   matInput
                                                   placeholder="000000"
                                                   required />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="big-box big-box-right">
                                    <div class="input">
                                        <mat-form-field appearance="fill"
                                                        hintLabel="Max 10 characters">
                                            <mat-label>Phone number</mat-label>
                                            <input #input
                                                   formControlName="phone"
                                                   matInput
                                                   placeholder="+100000000" />
                                            <mat-hint align="end">
                                                {{input.value?.length || 0}}/10
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="input">
                                        <mat-form-field appearance="fill"
                                                        hintLabel="Max 10 characters">
                                            <mat-label>Email address</mat-label>
                                            <input #input
                                                   formControlName="email"
                                                   matInput
                                                   placeholder="some@gmail.com" />
                                            <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
                                        </mat-form-field>
                                    </div>

                                    <div class="inner-box inner-box-left">
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Approx SF</mat-label>
                                                <mat-select formControlName="approx_SF">
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.approx_SF.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="inner-box inner-box-right">
                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Frequency</mat-label>
                                                <mat-select [ngModel]="frequency"
                                                            formControlName="frequency">
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.frequency.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- commercial -->
                            <!-- !!! -->

                            <p class="step-note">
                                You will be able to review your order before booking is complete
                            </p>

                            <div class="buttons-panel">
                                <!-- <button mat-button (click)="goBack(stepperDOM)" type="button">Back</button> -->
                                <button (click)="next1(stepperDOM)" mat-button>
                                    Next
                                </button>
                                <!-- <button mat-button matStepperNext>Next</button> -->
                                <!-- <button mat-button matStepperNext>Next</button> -->
                                <!-- <button mat-button (click)="stepperDOM.reset()">Reset</button> -->
                                <button (click)="fill(stepperDOM)" mat-button>
                                    Fill
                                </button>
                            </div>
                        </mat-step>

                        <!-- ********************************************** STEP 2 ********************************************** -->
                        <mat-step state="chat">
                            <ng-template matStepLabel>
                                <h2 class="step-title-big">Plan & Pricing</h2>
                                <h3 class="step-title-small">
                                    Choose Services Plan
                                </h3>
                            </ng-template>

                            <h1 class="step-title">ECONOMY CLEANING</h1>
                            <br />

                            <h2 class="step-subtitle-div">Frequency</h2>
                            <mat-divider></mat-divider>

                            <mat-radio-group [ngModel]="frequency"
                                             formControlName="frequency">
                                <div class="frequency-blocks">
                                    <div (click)="event_hook.click()"
                                         *ngFor="let item of stepper.frequency.items"
                                         class="frequency-block">
                                        <div [matRippleColor]="'rgb(0 0 0 / 10%)'"
                                             [matRippleDisabled]="false"
                                             class="ripple-container"
                                             matRipple
                                             style="background: {{item.color}}">
                                            <mat-radio-button [value]="item.title"
                                                              class="mat-radio-button">
                                                <div #event_hook
                                                     class="fr-head">
                                                    {{item.title}}
                                                </div>
                                            </mat-radio-button>
                                            <div class="fr-price">
                                                <span>
                                                    Price {{item.price | currency}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-radio-group>

                            <br />
                            <h2 class="step-subtitle-div">Extras</h2>
                            <mat-divider></mat-divider>

                            <section class="extras-blocks">
                                <div *ngFor="let item of stepper.extras.items"
                                     class="extras-block">
                                    <mat-checkbox #checkbox
                                                  class="extras-checkbox"
                                                  formControlName="{{'extras_' + item.value}}">
                                    </mat-checkbox>
                                    <div (click)="checkbox.checked = (checkbox.checked) ? false : true;"
                                         [matRippleColor]="'rgb(0 0 0 / 10%)'"
                                         [matRippleDisabled]="false"
                                         class="ripple-container"
                                         matRipple
                                         style="background: {{item.color}}">
                                        <img [src]="'../../../../assets/images/stepper/'+ item.value +'.svg'"
                                             alt
                                             style="height: 4rem" />
                                    </div>
                                    <p class="description">{{item.text}}</p>
                                    <p *ngIf="item.recommended"
                                       class="recommended">
                                        <span class="text">Recommended</span>
                                    </p>

                                    <div *ngIf="valueOf('extras_' + item.value)" class="counter">
                                        <div class="number">{{item.amount}}</div>
                                        <div class="btns">
                                            <button (click)="amount(item, '+')" aria-label="Example icon-button with a heart icon"
                                                    mat-icon-button>
                                                <mat-icon>add</mat-icon>
                                            </button>
                                            <button (click)="amount(item, '-')" aria-label="Example icon-button with a heart icon"
                                                    mat-icon-button>
                                                <mat-icon>remove</mat-icon>
                                            </button>
                                            <!-- <button mat-raised-button>+</button> -->
                                            <!-- <button mat-raised-button>-</button> -->
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <p class="step-note">
                                You will be able to review your order before booking is complete
                            </p>

                            <div class="buttons-panel">
                                <button mat-button matStepperPrevious>
                                    Back
                                </button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </mat-step>

                        <!-- ********************************************** STEP 3 ********************************************** -->
                        <mat-step>
                            <ng-template matStepLabel>
                                <h2 class="step-title-big">Address</h2>
                                <h3 class="step-title-small">
                                    Please Enter Address Detail
                                </h3>
                            </ng-template>

                            <h1 class="step-title">
                                WHERE SHOULD WE COME CLEAN?
                            </h1>
                            <p class="step-subtitle">
                                Tell us your address and other important details
                            </p>
                            <br />

                            <div class="boxes">
                                <div class="big-box big-box-left">
                                    <!-- ********************************************* 1 group -->
                                    <div class="inner-box inner-box-left">
                                        <div class="input"
                                             style="margin-top: .77rem;">
                                            <mat-form-field>
                                                <mat-label>
                                                    First Name
                                                </mat-label>
                                                <input formControlName="first_name"
                                                       matInput
                                                       placeholder="000000"
                                                       required />
                                            </mat-form-field>
                                        </div>

                                        <div class="input"
                                             style="margin-top: .77rem;">
                                            <mat-form-field>
                                                <mat-label>ZIP code</mat-label>
                                                <input formControlName="zip_code"
                                                       matInput
                                                       placeholder="000000"
                                                       required />
                                            </mat-form-field>
                                        </div>

                                        <div class="input">
                                            <mat-form-field appearance="fill"
                                                            hintLabel="Max 10 characters">
                                                <mat-label>
                                                    Email address
                                                </mat-label>
                                                <input #input
                                                       formControlName="email"
                                                       matInput
                                                       placeholder="some@gmail.com"
                                                       required />
                                                <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
                                            </mat-form-field>
                                        </div>

                                        <div class="input">
                                            <mat-form-field appearance="fill"
                                                            color="accent">
                                                <mat-label>
                                                    Select date (M/D/Y)
                                                </mat-label>
                                                <input [matDatepicker]="picker4"
                                                       formControlName="date"
                                                       matInput />
                                                <mat-datepicker-toggle [for]="picker4"
                                                                       matSuffix>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker4
                                                                color="primary">
                                                </mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- ********************************************* 2 group -->
                                    <div class="inner-box inner-box-right">
                                        <div class="input"
                                             style="margin-top: .77rem;">
                                            <mat-form-field>
                                                <mat-label>Last Name</mat-label>
                                                <input formControlName="last_name"
                                                       matInput
                                                       placeholder="000000"
                                                       required />
                                            </mat-form-field>
                                        </div>

                                        <div class="input">
                                            <mat-form-field appearance="fill"
                                                            hintLabel="Max 10 characters">
                                                <mat-label>City</mat-label>
                                                <input #input
                                                       formControlName="city"
                                                       matInput
                                                       placeholder="some@gmail.com" />
                                                <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
                                            </mat-form-field>
                                        </div>

                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>
                                                    Door Access Info
                                                </mat-label>
                                                <mat-select formControlName="doorAccess"
                                                            required>
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.doorAccess.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>

                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>
                                                    Select time
                                                </mat-label>
                                                <mat-select formControlName="selectTime">
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.selectTime.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <!-- ********************************************* 3 group -->
                                <div class="big-box big-box-right">
                                    <div class="inner-box inner-box-left">
                                        <div class="input"
                                             style="margin-top: .77rem;">
                                            <mat-form-field>
                                                <mat-label>Address</mat-label>
                                                <input formControlName="address"
                                                       matInput
                                                       placeholder="000000"
                                                       required />
                                            </mat-form-field>
                                        </div>

                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>State</mat-label>
                                                <mat-select formControlName="state">
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.state.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>

                                        <div class="input"
                                             style="margin-top: .77rem;">
                                            <mat-form-field>
                                                <mat-label>
                                                    Special Instructions
                                                </mat-label>
                                                <input formControlName="specialInstructions"
                                                       matInput
                                                       placeholder="000000" />
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <!-- ********************************************* 4 group -->
                                    <div class="inner-box inner-box-right">
                                        <div class="input"
                                             style="margin-top: .77rem;">
                                            <mat-form-field>
                                                <mat-label>Apt/Suite</mat-label>
                                                <input formControlName="aptSuite"
                                                       matInput
                                                       placeholder="000000" />
                                            </mat-form-field>
                                        </div>

                                        <div class="input">
                                            <mat-form-field appearance="fill"
                                                            hintLabel="Max 10 characters">
                                                <mat-label>
                                                    Phone number
                                                </mat-label>
                                                <input #input
                                                       formControlName="phone"
                                                       matInput
                                                       placeholder="+100000000" />
                                                <mat-hint align="end">
                                                    {{input.value?.length || 0}}/10
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="input"
                                             style="margin-top: .77rem;">
                                            <mat-form-field>
                                                <mat-label>
                                                    How did you hear about us?
                                                </mat-label>
                                                <input formControlName="howDidYouHear"
                                                       matInput
                                                       placeholder="000000" />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="step-note">
                                You will be able to review your order before booking is complete
                            </p>

                            <div class="buttons-panel">
                                <!-- <button mat-button (click)="goBack(stepperDOM)" type="button">Back</button> -->
                                <!-- <button mat-button (click)="next1(stepperDOM)">Next</button> -->
                                <!-- <button mat-button matStepperNext>Next</button> -->
                                <!-- <button mat-button matStepperNext>Next</button> -->
                                <!-- <button mat-button (click)="stepperDOM.reset()">Reset</button> -->
                                <button mat-button matStepperPrevious>
                                    Back
                                </button>
                                <button mat-button matStepperNext>Next</button>
                                <button (click)="fill(stepperDOM)" mat-button>
                                    Fill
                                </button>
                            </div>
                        </mat-step>

                        <!-- ********************************************** STEP 4 ********************************************** -->
                        <mat-step>
                            <ng-template matStepLabel>
                                <h2 class="step-title-big">Payment</h2>
                                <h3 class="step-title-small">
                                    Please Enter Payment Detail
                                </h3>
                            </ng-template>
                            <h1 class="step-title">PAYMENT</h1>
                            <p class="step-subtitle">
                                Your card will be submitted for reservation purposes only. You will not be charged until the cleaning has been completed.
                            </p>
                            <br />

                            <div class="boxes boxes-4">
                                <div class="big-box big-box-left">
                                    <mat-list>
                                        <mat-list-item>
                                            <div class="info-field">
                                                <b>Rooms:</b>
                                                <span>
                                                    qqq bedroom, qqq bathroom
                                                </span>
                                            </div>
                                        </mat-list-item>

                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                            <div class="info-field">
                                                <b>Frequency:</b>
                                                <span>qqq</span>
                                            </div>
                                        </mat-list-item>

                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                            <div class="info-field">
                                                <b>Service Date:</b>
                                                <span>qqq</span>
                                            </div>
                                        </mat-list-item>

                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                            <div class="info-field">
                                                <b>Service Time:</b>
                                                <span>qqq</span>
                                            </div>
                                        </mat-list-item>

                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                            <div class="info-field">
                                                <b>Type of Service:</b>
                                                <span></span>
                                            </div>
                                        </mat-list-item>

                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                            <div class="info-field">
                                                <span>- qqq</span>
                                                <span>qqq</span>
                                            </div>
                                        </mat-list-item>

                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                            <div class="info-field">
                                                <b>SUBTOTAL</b>
                                                <span>
                                                    {{calculatePipe.subtotal | currency}}
                                                </span>
                                            </div>
                                        </mat-list-item>

                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                            <div class="info-field">
                                                <b>SALES TAX {{tax}}%</b>
                                                <span>
                                                    {{calculatePipe.tax | currency}}
                                                </span>
                                            </div>
                                        </mat-list-item>

                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                            <div class="info-field">
                                                <b>TOTAL</b>
                                                <span>
                                                    {{calculatePipe.total | currency}}
                                                </span>
                                            </div>
                                        </mat-list-item>

                                        <!-- <mat-divider></mat-divider>
                                        <mat-list-item>
                                            <div class="info-field">
                                                <b></b> <span></span>
                                            </div>
                                        </mat-list-item>-->
                                    </mat-list>
                                </div>

                                <!-- ********************************************* 3 group -->
                                <div class="big-box big-box-right">
                                    <div class="inner-box inner-box-left">
                                        <div class="input"
                                             style="margin-top: .77rem;">
                                            <mat-form-field>
                                                <mat-label>Address</mat-label>
                                                <input formControlName="address"
                                                       matInput
                                                       placeholder="000000"
                                                       required />
                                            </mat-form-field>
                                        </div>

                                        <div class="input">
                                            <mat-form-field appearance="fill">
                                                <mat-label>State</mat-label>
                                                <mat-select formControlName="state">
                                                    <mat-option [value]="item.title"
                                                                *ngFor="let item of stepper.state.items">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                                            </mat-form-field>
                                        </div>

                                        <div class="input"
                                             style="margin-top: .77rem;">
                                            <mat-form-field>
                                                <mat-label>
                                                    Special Instructions
                                                </mat-label>
                                                <input formControlName="specialInstructions"
                                                       matInput
                                                       placeholder="000000" />
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <!-- ********************************************* 4 group -->
                                    <div class="inner-box inner-box-right">
                                        <div class="summary">
                                            <h1>BOOKING SUMMARY</h1>
                                            <mat-divider></mat-divider>
                                            <div class="sum-row">
                                                <i class="fas fa-home"></i>
                                                <span class="sum-row-left">
                                                    {{preventEmpty(bedrooms)}} Bed / {{preventEmpty(bathrooms)}} Bath
                                                </span>
                                                <span class="sum-row-right">
                                                    $$$
                                                </span>
                                            </div>
                                            <div class="sum-row">
                                                <i class="fas fa-calendar-alt">
                                                </i>
                                                <span class="sum-row-left">
                                                    <div *ngIf="date == ''">
                                                        -/-/-
                                                    </div>
                                                    <div *ngIf="date != ''">
                                                        {{date | date: 'dd/MM/yyyy'}}
                                                    </div>
                                                    @ {{preventEmpty(select_times)}}
                                                </span>

                                                <span class="sum-row-right">
                                                </span>
                                            </div>
                                            <div class="sum-row">
                                                <i class="fas fa-history"></i>
                                                <span class="sum-row-left">
                                                    {{preventEmpty(frequency)}}
                                                </span>
                                                <span class="sum-row-right">
                                                </span>
                                            </div>
                                            <mat-divider></mat-divider>
                                            <div class="sum-row">
                                                <span class="sum-row-left">
                                                    Weekly Total:
                                                </span>
                                                <span class="sum-row-right">
                                                    $$$
                                                </span>
                                            </div>
                                            <h1></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="step-note">
                                You will be able to review your order before booking is complete
                            </p>

                            <div class="buttons-panel">
                                <!-- <button mat-button (click)="goBack(stepperDOM)" type="button">Back</button> -->
                                <!-- <button mat-button (click)="next1(stepperDOM)">Next</button> -->
                                <!-- <button mat-button matStepperNext>Next</button> -->
                                <!-- <button mat-button matStepperNext>Next</button> -->
                                <!-- <button mat-button (click)="stepperDOM.reset()">Reset</button> -->
                                <button mat-button matStepperPrevious>
                                    Back
                                </button>
                                <button mat-button matStepperNext>Next</button>
                                <button (click)="fill(stepperDOM)" mat-button>
                                    Fill
                                </button>
                            </div>
                        </mat-step>

                        <!-- ********************************************** Icon overrides. ********************************************** -->

                        <ng-template matStepperIcon="phone">
                            <mat-icon>call_end</mat-icon>
                        </ng-template>

                        <ng-template matStepperIcon="chat">
                            <mat-icon>forum</mat-icon>
                        </ng-template>
                    </form>
                </mat-horizontal-stepper>
            </div>
        </section>

        <section id="services">
            <div class="container">
                <div class="title">
                    <h1>Crystal Cleaning Services</h1>
                    <p>
                        Cleaning Services Types that we provide in New York Area
                    </p>
                </div>
                <!-- <div class="cleaning-types">
                    <div class="d-flex justify-content-around row">
                    </div>
                </div>-->
            </div>
        </section>
    </main>
    <app-footer></app-footer>
</div>
