@import './app/styles/colors.less'; // imported colors
@import './app/styles/mobile.less'; // mobile adaptive

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// for restyling of material components
// it works only in this file!

// stepper
.mat-step-header .mat-step-icon {
  background-color: @blueColor;
}

.stepper {
  .frequency-block {
    .mat-ripple {
      text-align: center;

      .mat-radio-label {
        // padding: 1rem;
        // margin: 0 0 1rem 0;
      }

      .mat-radio-outer-circle {
        border-color: rgb(255 255 255 / 55%);
      }

      .mat-radio-inner-circle {
        background-color: white;
      }
    
    }
  }
}

// inputs
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}

// fix radio button
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: rgb(0 0 0 / 0%);
}

// @media only screen and (min-width: 320px) and (max-width: 480px) {
//   .main-wrapper, .main-header-wrapper, .about-us-wrapper, .faq-wrapper, .page-404, .pricing-wrapper, #services, footer {
//     width: 100vw;
//     -webkit-width: 100vw;
//   }
// }

.main-wrapper {
  //width: 100vw;
}

// body {
//   overflow-x: hidden;
//   -webkit-overflow-x: hidden;
//   width: 100%;
//   -webkit-width: 100%;
// }

body    {
  font: 12px/20px "Helvetica neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  overflow: hidden;
  overflow-y: auto;
  }


.notif-success {
  background: green!important;
  color: #ffffff;
}