<div class="main-wrapper">
    <app-header></app-header>
    <main>
        <section id="booking">
            <div class="booking-wrapper">
                <div class="booking-img">
                    <img src="../../../assets/images/108530803-960x290.jpg" alt="booking">
                </div>
            </div>
            <div class="booking-links">
                <ul>
                    <li><a [routerLink]="['/booking']" class="d-flex"><i
                                class="fas fa-house-user"></i>&nbsp;Residential</a></li>
                    <li><a [routerLink]="['/booking']" class="d-flex"><i class="far fa-building"></i>&nbsp;Office</a>
                    </li>
                    <li><a [routerLink]="['/booking']" class="d-flex"><i
                                class="fas fa-warehouse"></i>&nbsp;Commercial</a></li>
                </ul>
            </div>
        </section>
        <section id="services">
            <div class="container">
                <div class="title">
                    <h1>Crystal Cleaning Services</h1>
                    <p>Cleaning Services Types that we provide in New York Area</p>
                </div>
                <div class="cleaning-types">
                    <div class="d-flex justify-content-around row">
                        <div class="card col-4" *ngFor="let card of serviceCards">
                            <a class="card-link" [routerLink]=" '/services' + card.routerLink">
                                <!-- <div class="icon-service"><i class="fas fa-broom"></i></div> -->
                                <!-- <img class="card-img-top" src="../../../assets/images/services/ashtray-condo-condominium-298842-1024x683.jpg" alt="Card image cap"> -->
                                <img class="card-img-top" [src]="card.img" alt="Card image cap">                                    
                                <div class="card-body d-flex flex-row justify-content-between">
                                    <h5 class="card-title">{{ card.name }}</h5>
                                    <a [routerLink]=" '/services' + card.routerLink" class="btn btn-primary card-btn"><i
                                            class="fas fa-arrow-right"></i></a>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="how_does_it_work">
            <div class="container">
                <div class="title">
                    <h2>How Does It Work?</h2>
                </div>
                <div class="main-info">
                    <ul class="d-flex justify-content-between align-items-center">
                        <li d-flex justify-content-center>
                            <img src="../../../assets/images/homepage-img1-1.jpg" alt="how_does_it_work">
                            <h3>BOOK HOUSE CLEANING SERVICES ONLINE</h3>
                        </li>
                        <li>
                            <img src="../../../assets/images/homepage-img1-1.jpg" alt="how_does_it_work">
                            <h3>CLEAN WITH SUNLIGHT HOUSE CLEANING SERVICES</h3>
                        </li>
                        <li>
                            <img src="../../../assets/images//homepage-img3-1.jpg" alt="how_does_it_work">
                            <h3>ENJOY & RELAX</h3>
                        </li>
                    </ul>
                    <div class="book-btn">
                        <a mat-button [routerLink]="['/booking']" target="_blank">Book Appointment</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="guarantee">
            <!-- <img src="../../../assets/images/patern-yellow.jpg" alt=""> -->
            <div class="container">
                <div class="title">
                    <h2>Our Guarantee</h2>
                    <p>Finding Reliable Cleaning Service Professional For You</p>
                </div>
                <div class="guarantee-icons">
                    <ul class="icon-list">
                        <li>
                            <img src="" alt="experienced">
                            <p>Experienced</p>
                        </li>
                        <li>
                            <img src="" alt="bonded&insured">
                            <p>Bonded & Insured</p>
                        </li>
                        <li>
                            <img src="" alt="complete-supplies">
                            <p>Complete Supplies</p>
                        </li>
                        <li>
                            <img src="" alt="flexible">
                            <p>Flexible</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="reviews">

        </section>
    </main>
    <app-footer></app-footer>
</div>